html, body {
	height: 100%;
	width: 100%;
}

#root {
	height: 90%;
	width: 100%;
	overflow-y: scroll;
	margin: 5%;
	padding: 0 0;
	border: 0 0;
}

div.node h3 {
	height: 25px;
	margin: 0px;
}

div.node {
	height: 30px;
	margin: 0px;
}

ul {
	margin: 0;
}

li {
	list-style: none;
}
